<footer class="footer bg-dark py-4 mt-auto">
    <div class="container" style="text-align: center;">
        <span  class="text-muted bg-light padding=400 " > &copy; GlassWorks</span>
    
    </div>
    

</footer>